.contact{
    padding: 20vh 10vw 0px 10vw;
    background-color: black;
}
.contact-main{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.request-main img{
    max-width:300px;
    max-height:300px;

    position: absolute;
transform: translateX(30vw);
}

.contact-main div{
    color: white;
}
.request-main{
    display: flex;
}
.Request{
    font-size: 11rem;
    line-height: 9rem;
    transform: translateX(-100px);

}
.contact hr{
    margin: 15vh auto;
    width: 50vw;

}
.contact2{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.footer-list{
    width: 25%;
}
.footer-list div{
    color: white;
}
.footer-list div:nth-child(1){
font-size: 4rem;
line-height: 4rem;
font-weight: lighter;
}
.footer-list div:nth-child(2){
    padding-bottom: 3rem;
    padding-top: 3rem;

    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: lighter;
    }
    .footer-list img{
        max-width: 10vw;
    }
.footer-lists div{
    color: white;
    line-height: 7vh;
}

@media (max-width:920px) {
    .contact{
        padding: 10vh 2vw 0px 2vw;
    }
    .Request{
        font-size: 4rem;
        line-height: 4rem;
        transform: translateX(-400px);

    } 
    .contact-main img{
        max-width:200px;
        max-height:200px;
    
        position: absolute;
    /* transform: translateX(60vw); */
    }
    .contact hr{
        margin: 5vh auto;
        width: 50vw;
    
    }
    .footer-lists div{
    line-height:4vh ;
    }
}
@media (max-width:830px) {
    .footer-list div:nth-child(1){
        font-size: 3rem;
        line-height: 3rem;
        font-weight: lighter;
        }
}