.main_heading{
    position: relative;
    padding: 0px 10vw 0px 10vw;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   justify-items: center;
   /* display: flex;  */
}
.inner-heading{
    transform: translateY(10vh);
    /* justify-self: flex-start; */
}

.inner-heading div{
    line-height: 9rem;
    font-size: 9rem;
    font-weight: 650;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
}
/* .inner-heading h2{
    font-family: Sfprodisplay, sans-serif;
margin-top: -100px;
} */
.project-main{
    display: flex;
    gap: 1vw;
    padding: 0px 10vw 0px 10vw;
}
.projects{
  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 5rem;
    z-index: -10;
}
.project img{
    width: 100%;
}
.img-text{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.typewritter{
    animation-name:typeWritter;
    animation-timing-function: ease;
    animation-duration:2s;
    /* transition: ease; */
    animation-iteration-count: infinite;
    color: white;
    text-shadow: 0.2rem 0.2rem 0px black;
}
/* @keyframes typeWritter{
    0% {
transform: translateY(100px);  
/* visibility:visible; */

  /* } */
 
    /* 50%{
        transform: translateY(0px);  
        /* visibility: hidden; */

    /* } */ */
   
    /* 100% {
        transform: translateY(100px);  
        visibility: hidden;

    } */
/* } */ */
.scroll1{
    color: rgb(121, 122, 122);
    animation-name:scroll ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}
@keyframes scroll{
0%{
    transform: translateY(0px);
    visibility:visible;
}
/* 25%{
    visibility: hidden;

} */
50%{
    visibility: hidden;
}
/* 50%{
    transform: translateY(100px);
    visibility: hidden;

} */
100%{
    transform: translateY(100px);
    visibility: hidden;
}
}

/*media query*/

@media (max-width:1280px){
    .inner-heading div{
        line-height: 6rem;
        font-size: 6rem;
    }
}
@media (max-width:920px) {
    .project-main{
    padding: 7vh 2vw 7vh 2vw;
    }
    .inner-heading{
        transform: translateY(0vh);
        /* justify-self: flex-start; */
    }
}
@media (max-width:420px) {
    .inner-heading div{
        line-height: 2rem;
        font-size: 2rem;
        font-weight: 650;
       
    }
    .projects{
        gap: 2rem;
    }
    .img-text{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}